* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0 auto;
    /* background-color: #222222; */
    color: white;
}

#background {
    z-index: -9999;
    position: fixed;
    width: 200%;
    height: 200%;
    background-image: url("../sprites/BackgroundTexture.png");
    background-size: 1%;
    animation: backgroundScroll 30s linear infinite;
    transform: rotate(15deg) translateX(-40%);
}

@keyframes backgroundScroll {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 0px 500px;
    }
}

#center {
    z-index: -10;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#top {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    padding: 4px;
}

#bottom {
    /* width: 100%; */
    /* height: 100%; */
    position: fixed;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
    ;
    cursor: pointer;
}

#bottom-above-news {
    position: fixed;
    bottom: 24px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
}

#left-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top-right-radius: 16px;
}

#left-bottom button {
    cursor: pointer;
    width: 51px;
    height: 51px;
    background-color: transparent;
    border: none;
}

#left-bottom button img {
    width: 100%;
}

#left-top {
    position: fixed;
    top: 0;
    left: 0;
    padding: 4px;
}

#bottom div {
    /* mask-image: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);; */
    /* bottom: 0; */
    /* position: absolute; */
    animation: newsScroll 10s linear infinite;
    white-space: nowrap;
    overflow: hidden;
}

#bottom #news2 {
    animation: newsScroll2 10s linear infinite;
    animation-delay: 5s;
    transform: translate(100%, -50%);
}

@keyframes newsScroll {
    0% {
        transform: translate(102%, 100%);
    }

    100% {
        transform: translate(-102%, 100%);
    }
}

@keyframes newsScroll2 {
    0% {
        transform: translate(102%, 0);
    }

    100% {
        transform: translate(-102%, 0);
    }
}

#poland-map {
    width: 300px;
    filter: drop-shadow(0px 16px 16px rgba(0, 0, 0, 0.3));
}

#money {
    font-weight: bolder;
    display: inline-flex;
}

#top button{
    pointer-events: all;
    width: 30px;
    /* height: 30px; */
    background-color: white;
    border: none;
    border-radius: 8px;
    margin-left: 16px;
}

h1 {
    margin: 0;
}

#stock-section h1 {
    margin-bottom: 8px;
}

h3 {
    margin: 0;
}

h2 {
    margin: 0;
}

.city-point {
    width: 16px;
    height: 16px;
    transform: rotateZ(45deg);
    background-color: red;
    outline: 2px solid;
    outline-color: red;
    outline-offset: -2px;
    transition: 0.2s;
}

.city:hover .city-point {
    transition: 0.2s;
    outline-offset: 2px;
}

.selected-city {
    background-color: rgb(255, 187, 0);
    outline-color: rgb(255, 187, 0);
}

.city-name {
    user-select: none;
    transform: translateX(20px);
    position: relative;
    color: white;
    font-size: 0.7em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,
        -1px 0px 0 #000, 0px -1px 0 #000, 1px 0px 0 #000, 0px 1px 0 #000;
}

.city {
    cursor: pointer;
    position: absolute;
}

.window {
    position: fixed;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
}

#info-window {
    z-index: 10;
    display: none;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#stock-window {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

#stock-section {
    vertical-align: baseline;
    padding: 8px;
    padding-top: 0px;
    margin-right: -8px;
    display: none;
}

#stock-section button {
    border-width: 1px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: transparent;
    border-style: solid;
    padding: 8px;
    /* margin: 8px; */
    width: 47%;
    height: 44px;
    margin-top: 4px;
    border-radius: 8px;
    cursor: pointer;
}

#buy {
    color: green;
    border-color: green;
    margin-right: 8px;
}

#sell {
    color: red;
    border-color: red;
    margin: 0px;
}

#stock-graph {
    border: 1px gray solid;
    width: 200px;
    height: 200px;
    image-rendering: pixelated;
    border-radius: 8px;
    margin: 0px;
}

#business-list button {
    cursor: pointer;
    /* border: 1px solid white; */
    border: none;
    color: white;
    background-color: transparent;
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.05);
}

#business-list .selected-button {
    /* border: 1px solid white; */
    background-color: rgba(255, 255, 255, 0.1);
}

#business-list button:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

#business-list button:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

#business-list button img {
    /* width: 30px; */
    width: 100%;
    /* padding: 5px; */
}

#top-background {
    pointer-events: none;
    position: fixed;
    z-index: -1;
    transform: translate(-50%, -80%);
    left: 50%;
    width: 600px;
    height: 400px;
    background: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
}

#info-img-mask {
    border-radius: 8px;
    height: 170px;
    width: 300px;
    overflow: hidden;
}

#info-img-mask img {
    width: 110%;
}

.window-panel {
    z-index: 100;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

#social-window {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}

#players-list {
    width: 400px;
    /* height: 400px; */
    /* max-height: 400px; */
}

td button{
    cursor: pointer;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: white;
}

#players-scroll {
    overflow: auto;
    max-height: 400px;
}

#players-list tr {
    text-align: center;
}

#news-window {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}

#news-list {
    width: 400px;
    max-height: 400px;
    overflow: auto;
}

#login .window {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}

input {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 8px;
    border-radius: 32px;
    margin: 8px;
    font-size: 1.2em;
    color: white;
}

#login button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 8px;
    border-radius: 16px;
    margin: 8px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
}

#login button:first-child {
    margin-right: 0;

}

#login button:last-child {
    margin-left: 0;
}

#business-region-item {
    width: 100%;
    display: inline-block;
    margin-top: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

#business-region-item img {
    width: 32px;
    margin: 4px;
}

#transaction-window {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}

#transaction-window button {
    width: 100%;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 16px;
    color: white;
    cursor: pointer;
}

.slider {
    margin: 16px;
    -webkit-appearance: none;
    width: 80%;
    height: 2px;
    border-radius: 8px;
    background: #0000002a;
    outline: none;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}