*{
    font-family: "Roboto", sans-serif;
}

body{
    margin: 0 auto;
    /* background-color: #222222; */
    color: white;
}

#background{
    z-index: -9999;
    position: fixed;
    width: 200%;
    height: 200%;
    background-image: url("../sprites/BackgroundTexture.png");
    background-size: 1%;
    animation: backgroundScroll 30s linear infinite;
    transform: rotate(15deg) translateX(-10%);
}

@keyframes backgroundScroll {
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: 0px 500px;
    }
}

#center{
    z-index: -10;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#top{
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
}

#bottom{
    /* width: 100%; */
    /* height: 100%; */
    position: fixed;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    mask-image: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);;
}

#bottom div{
    /* mask-image: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);; */
    /* bottom: 0; */
    /* position: absolute; */
    animation: newsScroll 10s linear infinite;
    white-space: nowrap;
    overflow: hidden;
}

#bottom #news2{
    animation: newsScroll2 10s linear infinite;
    animation-delay: 5s;
    transform: translate(100%, -50%);
}

@keyframes newsScroll {
    0%{
        transform: translate(102%, 100%);
    }

    100%{
        transform: translate(-102%, 100%);
    }
}

@keyframes newsScroll2 {
    0%{
        transform: translate(102%, 0);
    }

    100%{
        transform: translate(-102%, 0);
    }
}

#poland-map{
    width: 300px;
    filter: drop-shadow(0px 16px 16px rgba(0, 0, 0, 0.3));
}

#money{
    font-weight: bolder;
}

h1{
    margin: 0;
}

h3{
    margin: 0;
}

.city-point{
    width: 16px;
    height: 16px;
    transform: rotateZ(45deg);
    background-color: red;
    outline: 2px solid;
    outline-color: red;
    outline-offset: -2px;
    transition: 0.2s;
}

.city:hover .city-point{
    transition: 0.2s;
    outline-offset: 2px;
}

.selected-city{
    background-color: rgb(255, 187, 0);
    outline-color: rgb(255, 187, 0);
}

.city-name{
    user-select: none;
    transform: translateX(20px);
    position: relative;
    color: white;
    font-size: 0.7em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,
    -1px 0px 0 #000, 0px -1px 0 #000, 1px 0px 0 #000, 0px 1px 0 #000;
}

.city{
    cursor: pointer;
    position: absolute;
}

.window{
    position: fixed;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
}

#info-window{
    display: none;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#stock-window{
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

#stock-section{
    vertical-align: baseline;
    padding: 8px;
}

#stock-section button{
    border-width: 1px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: transparent;
    border-style: solid;
    padding: 8px;
    /* margin: 8px; */
    width: 48%;
    height: 44px;
    margin-top: 4px;
    border-radius: 8px;
}

#buy{
    color: green;
    border-color: green;
    margin-right: 8px;
}

#sell{
    color: red;
    border-color: red;
    margin: 0px;
}

#stock-graph{
    border: 1px gray solid;
    width: 200px;
    height: 200px;
    image-rendering: pixelated;
    border-radius: 8px;
    margin: 0px;
}

#business-list button{
    cursor: pointer;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    width: 40px;
    height: 40px;
}

#top-background {
    pointer-events: none;
    position: fixed;
    z-index: -1;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 600px;
    height: 400px;
    background: #000000;
    background: radial-gradient(circle,rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
}

#info-img-mask{
    border-radius: 8px;
    height: 170px;
    width: 300px;
    overflow: hidden;
}

#info-img-mask img{
    width: 110%;
}